* {
    margin: 0em;
}

@font-face {
    font-family: 'Idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #86e0b0;

}

header {
    margin: 0em;
    padding: 0.5em;
    background-image: linear-gradient(to bottom, #86e0b0, #3A614C);
    color: white;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.7);
}

#titulo_principal {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > p {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 100;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

main {
    background-color: white;
    border-radius: 0em 0em 1em 1em;
    width: 60%;
    margin: auto;
    padding: 2em;
}

section > h1 {
    font-family: 'Idroid', fantasy;
    color: #3A614C;
}

section > p {
    padding: 1em 0em;
}

p > span {
    color: #3A614C;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #3A614C;
    font-weight: bold;
}

article > h2 {
    font-family: 'Idroid', fantasy;
    color: #3A614C;
    background-image: linear-gradient(to right, #86e0b0, white);
}

article > p {
    padding: 1em 0em;
}

img {
    display: block;
    margin: auto;
}

#video {
    border: 2em solid #3A614C;
    margin: 0em -2em;
}

aside {
    padding: 1em;
}

aside > h3 {
    background-color: #3A614C;
    border: 1em solid #3A614C;
    border-radius: 1em 1em 0em 0em;
    color: white;
}

#caixa_lista {
    background-color: #86e0b0;
    border-radius: 0em 0em 1em 1em;
    padding: 1em;

}

#lista_principal {
    padding: 1em;
}

.lista {
    padding: 0em;
    display: inline-block;
    width: 45%;
}

li {
    list-style: none;
}

li::before {
    content: "✓ ";
}

li > span {
    text-decoration: underline;
}

#caixa_lista > p {
    padding: 0.5em;
}

footer {
    padding: 0.5em 0em 0em 0em;
}

footer > p {
    background-color: #3A614C;
    color: white;
    text-align: center;
    padding: 0.5em;
}